body {
	background-color: black;
	background-image: url('../images/AlienBGstars.png');
    background-size: cover;
}

#title {
	dispay: block;
	font-size: 100px;
	color: white;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;

}

#logOutContainer {
	position: absolute;
	right: 0;
}


#contactsContainer {
	
}
