body {
	background-color: black;
	background-image: url('../images/AlienBGstars.png');
    background-size: cover;
}

#title {
	dispay: block;
	font-size: 100px;
	color: white;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;

}

#logOutContainer {
	position: absolute;
	right: 0;
}


#contactsContainer {
	width: 80%;
	background-color: lightslategray;
	margin: auto;
}

table {
	margin: auto;
	width: 80%;
	border-collapse: collapse;
	background-color: lightgray;
	opacity: 0.5;
}

th, td {
	color: black;
	padding: 10px;
	text-align: left;
}

th {
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;

}
